Source: tinyalsa
Section: sound
Priority: optional
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
 libglib2.0-dev,
 meson,
Vcs-Git: https://github.com/qualcomm-linux/pkg-tinyalsa.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-tinyalsa
Standards-Version: 4.6.2

Package: tinyalsa
Architecture: any
Depends:
 libtinyalsa2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: utilities to interface with ALSA
 TinyALSA is a lightweight interface to ALSA in the Linux kernel.
 .
 The aims are:
 .
  * Provide a basic pcm and mixer API.
  * If it's not absolutely needed, don't add it to the API.
  * Avoid supporting complex and unnecessary operations, that could be dealt
    with at a higher level.
  * Provide comprehensive documentation.

Package: libtinyalsa2
Architecture: any
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: small library to interface with ALSA (runtime library)
 The TinyALSA library is a lightweight, bare metal version of the ALSA library.
 .
 The aims are:
 .
  * Provide a basic pcm and mixer API.
  * If it's not absolutely needed, don't add it to the API.
  * Avoid supporting complex and unnecessary operations, that could be dealt
    with at a higher level.
  * Provide comprehensive documentation.
 .
 This package provides the runtime library.

Package: libtinyalsa-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends:
 libtinyalsa2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: small library to interface with ALSA (development files)
 The TinyALSA library is a lightweight, bare metal version of the ALSA library.
 .
 The aims are:
 .
  * Provide a basic pcm and mixer API.
  * If it's not absolutely needed, don't add it to the API.
  * Avoid supporting complex and unnecessary operations, that could be dealt
    with at a higher level.
  * Provide comprehensive documentation.
 .
 This package provides files necessary to develop programs using the library.
